[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/spech66/materialize-bp-hugo-theme"]
	path = themes/spech66/materialize-bp-hugo-theme
	url = https://github.com/spech66/materialize-bp-hugo-theme.git
[submodule "themes/themes/LoveIt"]
	path = themes/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
